.job-title {
    font-size: 14px;
}
.skill {
    border: 1px solid black;
    padding: 3px;
    border-radius: 12px;
    font-size: 0.8em;
}
.data p {
    font-size: 0.9em;
}
.icon {
    border: 1px solid black;
    padding: 2px 4px 2px 4px;
    margin: 2px 2px 15px 2px;
    border-radius: 10px;
    width: 33px;
    height: 23px;
}
